In [36]:
import pandas as pd 
import warnings
warnings.filterwarnings("ignore")

In [2]:
call_center_Data=pd.read_excel('data1.xlsx')
df=call_center_Data.copy()
df

   Call No   Result  Waiting time  Talking time  After call work time
0     IBC1   Answer            10           232                    27
1     IBC2   Answer            12           137                    26
2     IBC3   Answer            29           123                    18
3     IBC4   Answer            16            67                    27
4     IBC5   Answer            15           235                    21
5     IBC6   Answer            14           118                     3
6     IBC7   Answer             6           157                    30
7     IBC8   Answer            12           228                    11
8     IBC9   Answer            21           197                    27
9    IBC10   Answer            18            80                    19
10   IBC11   Answer             2           100                     2
11   IBC12   Answer             0           119                    21
12   IBC13   Answer             4           224                     9
13   IBC14   Answer             8           234                    19
14   IBC15   Answer            14           162                     2
15   IBC16  Abondan             5             0                     0
16   IBC17  Abondan            10             0                     0
17   IBC18   Answer            28           177                     8
18   IBC19   Answer            15            64                    19
19   IBC20   Answer            25            60                    25
20   IBC21   Answer             7           157                    30
21   IBC22   Answer            12           125                    12
22   IBC23   Answer            21            79                    21
23   IBC24   Answer            14           209                    14
24   IBC25   Answer            14           197                     6
25   IBC26   Answer            15           211                    18
26   IBC27   Answer             8           176                     6
27   IBC28   Answer            11           165                    11
28   IBC29   Answer             1            79                    25
29   IBC30   Answer            10           137                    30
30   IBC31   Answer             3           157                     8
31   IBC32   Answer            30           206                     4
32   IBC33  Abondan            25             0                     0
33   IBC34  Abondan             8             0                     0
34   IBC35   Answer            16            69                    30
35   IBC36   Answer            19            95                    25
36   IBC37   Answer            13            81                    13
37   IBC38   Answer            28           211                    25
38   IBC39   Answer            24           109                     4
39   IBC40   Answer             9            66                    26
40   IBC41   Answer            14           130                    11
41   IBC42   Answer             1           121                    27
42   IBC43   Answer            14           132                    11
43   IBC44   Answer            11            92                     0
44   IBC45   Answer             0           194                    26
45   IBC46   Answer            23            92                    27
46   IBC47   Answer            19           214                     9
47   IBC48   Answer            18            62                    24
48   IBC49   Answer             7            71                     0
49   IBC50  Abondan            14             0                     0

In [3]:
df.columns

Index(['Call No', 'Result', 'Waiting time', 'Talking time',
       'After call work time'],
      dtype='object')

In [4]:
df.columns = [col.replace(' ','_') for col in df.columns ]

In [5]:
df.columns

Index(['Call_No', 'Result', 'Waiting_time', 'Talking_time',
       'After_call_work_time'],
      dtype='object')

In [6]:
df['Handling_Time'] = df['Talking_time']+df['After_call_work_time']

In [7]:
df.sample(5)

,Call_No,Result,Waiting_time,Talking_time,After_call_work_time,Handling_Time
11,IBC12,Answer,0,119,21,140
28,IBC29,Answer,1,79,25,104
35,IBC36,Answer,19,95,25,120
2,IBC3,Answer,29,123,18,141
49,IBC50,Abondan,14,0,0,0

In [8]:
def call_center_metric(df, servis_level_percent=80, servis_level_time=20):
    """
    Calculate various metrics for call center performance based on the provided DataFrame.

    Args:
        df (pandas.DataFrame): DataFrame containing call center data.
        servis_level_percent (float, optional): Service level threshold percentage. Defaults to 80.
        servis_level_time (int, optional): Service level threshold time in seconds. Defaults to 20.

    Returns:
        pandas.DataFrame: DataFrame containing the calculated call center metrics.
    """
    total_call = len(df)
    total_answered_call = df.Result.value_counts()[0]
    total_abondan_call = df.Result.value_counts()[1]
    answered_rate = (total_answered_call / total_call) * 100
    abondan_rate = (total_abondan_call / total_call) * 100
    cod1 = df['Result'] == "Answer"
    cod2 = df['Waiting_time'] < servis_level_time
    Number_Calls_Target_Time = len(df[cod1 & cod2])
    sercis_level = (Number_Calls_Target_Time / total_answered_call)* 100
    Average_Time_Abandon = round(df[df['Result'] == "Abondan"]['Waiting_time'].sum() / len(df[df['Result'] == "Abondan"]),2)
    Average_Speed_Answer =round(df[df['Result'] == "Answer"]['Waiting_time'].sum() / len(df[df['Result'] == "Answer"]),2)
    Average_Talk_Time = round(df[df['Result'] == "Answer"]['Talking_time'].sum() / len(df[df['Result'] == "Answer"]),2)
    Average_After_Call_Work_time = round(df[df['Result'] == "Answer"]['After_call_work_time'].sum() / len(df[df['Result'] == "Answer"]),2)
    Average_Handling_Time =round(Average_Talk_Time + Average_After_Call_Work_time,2)
    
    output = pd.DataFrame({
        'Total Call': int(total_call),
        'Answered Call': int(total_answered_call),
        'Answered Rate': int(answered_rate),
        'Number Calls Target Time': Number_Calls_Target_Time,
        'Service Level': sercis_level,
        'Total Abandon Call': total_abondan_call,
        'Abandon Rate': abondan_rate,
        'Average Time Abandon': Average_Time_Abandon,
        'Average Speed Answer': Average_Speed_Answer,
        'Average Talk Time': Average_Talk_Time,
        'Average After Call Work Time': Average_After_Call_Work_time,
        'Average Handling Time': Average_Handling_Time
    }, index=[0])  # Specify the index as a list containing a single element, 0 in this case
    
    report = output.T
    report = report.reset_index()
    report.columns=["Metrics","Value"]
    
    return report

In [9]:
call_center_metric(df)

                         Metrics   Value
0                     Total Call   50.00
1                  Answered Call   45.00
2                  Answered Rate   90.00
3       Number Calls Target Time   36.00
4                  Service Level   80.00
5             Total Abandon Call    5.00
6                   Abandon Rate   10.00
7           Average Time Abandon   12.40
8           Average Speed Answer   13.58
9              Average Talk Time  141.13
10  Average After Call Work Time   16.82
11         Average Handling Time  157.95

In [10]:
call_center_Data2=pd.read_excel('data2.xlsx')
df2=call_center_Data2.copy()
df2

,Agent,Work attendance status,Call Count,Handling Time (sec),Break (min),Lunch Break (min),Education (min),Meeting (min),Login Hour,Logout Hour
0,A1,No,96,199,25,35,16,9,09:00:00,18:00:00
1,A2,No,81,188,29,29,15,15,09:00:00,19:00:00
2,A3,No,94,224,35,35,13,11,09:00:00,19:00:00
3,A4,No,99,158,28,25,20,0,09:05:00,19:00:00
4,A5,No,111,221,27,34,17,9,09:00:00,18:55:00
5,A6,No,103,169,25,26,12,14,09:00:00,19:00:00
6,A7,No,115,175,33,32,4,13,09:00:00,19:00:00
7,A8,No,82,195,25,34,15,1,09:00:00,19:00:00
8,A9,No,80,153,26,34,2,2,09:12:00,19:00:00
9,A10,Yes,0,0,0,0,0,0,00:00:00,00:00:00
10,A11,No,108,229,27,34,6,4,09:00:00,18:57:00
11,A12,No,87,188,32,35,18,14,09:00:00,19:00:00
12,A13,No,92,240,25,34,17,7,09:00:00,19:00:00
13,A14,No,118,201,31,32,2,11,09:00:00,19:00:00
14,A15,No,96,171,30,35,5,5,09:00:00,18:52:00
15,A16,No,110,221,27,27,18,2,09:03:00,19:00:00
16,A17,No,91,219,35,34,10,11,09:00:00,19:00:00
17,A18,No,104,234,27,28,3,3,09:00:00,18:55:00
18,A19,No,107,215,30,32,8,5,09:10:00,19:00:00
19,A20,No,93,239,34,30,18,7,09:00:00,19:00:00

In [11]:
df2.columns = [col.replace(' ','_') for col in df2.columns ]

In [12]:
df2.columns

Index(['Agent', 'Work_attendance_status', 'Call_Count', 'Handling_Time_(sec)',
       'Break_(min)', 'Lunch_Break_(min)', 'Education_(min)', 'Meeting_(min)',
       'Login_Hour', 'Logout_Hour'],
      dtype='object')

In [13]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Agent                   20 non-null     object
 1   Work_attendance_status  20 non-null     object
 2   Call_Count              20 non-null     int64
 3   Handling_Time_(sec)     20 non-null     int64
 4   Break_(min)             20 non-null     int64
 5   Lunch_Break_(min)       20 non-null     int64
 6   Education_(min)         20 non-null     int64
 7   Meeting_(min)           20 non-null     int64
 8   Login_Hour              20 non-null     object
 9   Logout_Hour             20 non-null     object
dtypes: int64(6), object(4)
memory usage: 1.7+ KB

In [14]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Agent                   20 non-null     object
 1   Work_attendance_status  20 non-null     object
 2   Call_Count              20 non-null     int64
 3   Handling_Time_(sec)     20 non-null     int64
 4   Break_(min)             20 non-null     int64
 5   Lunch_Break_(min)       20 non-null     int64
 6   Education_(min)         20 non-null     int64
 7   Meeting_(min)           20 non-null     int64
 8   Login_Hour              20 non-null     object
 9   Logout_Hour             20 non-null     object
dtypes: int64(6), object(4)
memory usage: 1.7+ KB

In [15]:
# Function to calculate time difference in minutes
def calculate_time_difference(start_time, end_time):
    """
    Calculate the time difference in minutes between two time values.

    Args:
        start_time (datetime.time): Starting time.
        end_time (datetime.time): Ending time.

    Returns:
        int: Time difference in minutes.
    """
    start_minutes = start_time.hour * 60 + start_time.minute
    end_minutes = end_time.hour * 60 + end_time.minute
    difference = end_minutes - start_minutes
    return difference

In [16]:
# Saat farkını hesaplama ve yeni bir sütun ekleyerek DataFrame'i güncelleme
df2['Login_Time(min)'] = df2.apply(lambda row: calculate_time_difference(row['Login_Hour'], row['Logout_Hour']), axis=1)

In [17]:
df2['AHT_(min)'] = ((df2['Call_Count'] * df2['Handling_Time_(sec)'])/60).astype(int)

In [18]:
df2['Diversion'] = df2['Break_(min)'] +df2['Lunch_Break_(min)'] +df2['Education_(min)'] +df2['Meeting_(min)']

In [19]:
df2['Occupancy'] = round((df2['AHT_(min)'] / (df2['Login_Time(min)']-df2['Diversion'])) * 100,1)

In [24]:
df2['Shrinkage'] = df2['Lunch_Break_(min)'].apply(lambda x: x - 30 if x > 30 else 0) + df2['Break_(min)'].apply(
    lambda x: x - 30 if x > 30 else 0) + df2['Education_(min)'] + df2['Meeting_(min)']+600-df2['Login_Time(min)']

In [26]:
df2['Shrinkage_Ratio'] = round((df2['Shrinkage']/df2['Login_Time(min)']) *100,2)

In [30]:
df2['Activity Violation'] = df2['Lunch_Break_(min)'].apply(lambda x: 1 if x > 30 else 0) + df2['Break_(min)'].apply(
    lambda x: 1 if x > 30 else 0) + df2['Login_Time(min)'].apply(lambda x: 1 if x < 600 else 0)

<div style=" background-color:#3b3745;text-align:left; padding: 13px 13px; border-radius: 8px; color: white">
<ul>
<li> We need to correct the data of those who do not attend. If we don't correct the data, we will encounter errors when performing calculations.

</ul>
</div>

In [46]:
df2.loc[df2['Work_attendance_status']=='Yes','Occupancy'] = 0
df2.loc[df2['Work_attendance_status']=='Yes','Shrinkage_Ratio'] = 0
df2.loc[df2['Work_attendance_status']=='Yes','Activity Violation'] = 3

In [47]:
df2

,Agent,Work_attendance_status,Call_Count,Handling_Time_(sec),Break_(min),Lunch_Break_(min),Education_(min),Meeting_(min),Login_Hour,Logout_Hour,Login_Time(min),AHT_(min),Diversion,Occupancy,Shrinkage,Shrinkage_Ratio,Activity Violation
0,A1,No,96,199,25,35,16,9,09:00:00,18:00:00,540,318,85,69.9,90,16.67,2
1,A2,No,81,188,29,29,15,15,09:00:00,19:00:00,600,253,88,49.4,30,5.00,0
2,A3,No,94,224,35,35,13,11,09:00:00,19:00:00,600,350,94,69.2,34,5.67,2
3,A4,No,99,158,28,25,20,0,09:05:00,19:00:00,595,260,73,49.8,25,4.20,1
4,A5,No,111,221,27,34,17,9,09:00:00,18:55:00,595,408,87,80.3,35,5.88,2
5,A6,No,103,169,25,26,12,14,09:00:00,19:00:00,600,290,77,55.4,26,4.33,0
6,A7,No,115,175,33,32,4,13,09:00:00,19:00:00,600,335,82,64.7,22,3.67,2
7,A8,No,82,195,25,34,15,1,09:00:00,19:00:00,600,266,75,50.7,20,3.33,1
8,A9,No,80,153,26,34,2,2,09:12:00,19:00:00,588,204,64,38.9,20,3.40,2
9,A10,Yes,0,0,0,0,0,0,00:00:00,00:00:00,0,0,0,0.0,600,0.00,3
10,A11,No,108,229,27,34,6,4,09:00:00,18:57:00,597,412,71,78.3,17,2.85,2
11,A12,No,87,188,32,35,18,14,09:00:00,19:00:00,600,272,99,54.3,39,6.50,2
12,A13,No,92,240,25,34,17,7,09:00:00,19:00:00,600,368,83,71.2,28,4.67,1
13,A14,No,118,201,31,32,2,11,09:00:00,19:00:00,600,395,76,75.4,16,2.67,2
14,A15,No,96,171,30,35,5,5,09:00:00,18:52:00,592,273,75,52.8,23,3.89,2
15,A16,No,110,221,27,27,18,2,09:03:00,19:00:00,597,405,74,77.4,23,3.85,1
16,A17,No,91,219,35,34,10,11,09:00:00,19:00:00,600,332,90,65.1,30,5.00,2
17,A18,No,104,234,27,28,3,3,09:00:00,18:55:00,595,405,61,75.8,11,1.85,1
18,A19,No,107,215,30,32,8,5,09:10:00,19:00:00,590,383,75,74.4,25,4.24,2
19,A20,No,93,239,34,30,18,7,09:00:00,19:00:00,600,370,89,72.4,29,4.83,1

In [66]:
def call_center_metric_2(df):
    """
    Calculate various metrics for call center performance based on the provided DataFrame.

    Args:
        df (pandas.DataFrame): DataFrame containing call center data.
     
    Returns:
        pandas.DataFrame: DataFrame containing the calculated call center metrics.
    """
    Shrinkage = round((df2['Shrinkage'].sum()/df2['Login_Time(min)'].sum())*100,2)
    
    Occupancy = round((df2['AHT_(min)'].sum() /(df2['Login_Time(min)'].sum()-df2['Diversion'].sum())*100),2)
       
    Full_Time_Equivalent= round((df2['Login_Time(min)'].sum()/ 600),2)
    
    output = pd.DataFrame({
        'Shrinkage Ratio': Shrinkage,
        'Occupancy Ratio': Occupancy,
        'Full Time Equivalent': Full_Time_Equivalent
        
    }, index=[0])  # Specify the index as a list containing a single element, 0 in this case
    
    report = output.T
    report = report.reset_index()
    report.columns=["Metrics","Value"]
    
    return report

In [67]:
call_center_metric_2(df2)

                Metrics  Value
0       Shrinkage Ratio  10.12
1       Occupancy Ratio  64.47
2  Full Time Equivalent  18.82